@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --font-sans: "Inter", system-ui, -apple-system, sans-serif;
}

html,
body {
  padding: 0;
  margin: 0;
}

body {
  background: #f8fafc;
  color: #0f172a;
}

* {
  box-sizing: border-box;
}
